/*
!/*.c
!/*.h
!/*.cpp
!/*.hpp
!/*.txt
!/*.md
!/questions/
/questions/**/*
!/questions/**/
!/questions/**/*.c
!/questions/**/*.h
!/questions/**/*.cpp
!/questions/**/*.hpp
!/questions/**/*.c
!/questions/**/*.txt